#languageBtn {
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin:25px auto;
    width: 220px;
    height: 45px;
    border-radius: 6px;
    border: 2px solid #555;
    color: black !important;
    cursor: pointer;
}

#languageSelect {
    border-radius: 6px;
    text-align: center;
}

.language-menu {
  display:none;
  position:absolute;
  right: 100%;
  top:50%;
  transform: translateY(-50%);
  margin-right: 8px;
  background: #333;
  border: 2px solid #555;
  border-radius: 8px;
  min-width: 140px;
  padding: 5px 0;
  display:none;
  z-index: 999999;
  flex-direction: column;
}

#languageContainer {
    position: relative;
    width: fit-content;
    margin: 0 auto 15px auto;
    display: inline-block;
}

.language-menu div {
    padding: 8px 12px;
    font-size: 14px;
    color:white;
    cursor: pointer;
    text-align: left;
}

.language-menu div:hover {
    background: #555;
}

body {
        margin: 0;
        padding: 0;
        background-image: url(WallpaperPage.png);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        overflow-x: hidden;
    }
    #shopMessage .options-box {
      border: 2px solid gold;
    }
    #shopMessage {
        position: absolute;
        top:70%;
        left:50%;
        transform: translate(-50% , -50%);
        background: rgba(0,0,0,0.7);
        color: red;
        font-size: 15px;
        padding: 15px 25px;
        border-radius : 10px;
        display: none;
        z-index: 999;
        text-align: center;
     }
     
    #startWarning {
        position: absolute;
        top:70%;
        left:50%;
        transform: translate(-50% , -50%);
        background: rgba(0,0,0,0.7);
        color: red;
        font-size: 15px;
        padding: 15px 25px;
        border-radius : 10px;
        display: none;
        z-index: 999;
        text-align: center;
    }
    .shop-item {
        width: 80%;
        align-self: center;
        padding: 12px 16px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        transition: 0.2s ease;
    }

    .version-label {
        margin-top: 80px;
        text-align: left;
        font-size: 18px;
        color:black;
        /*opacity:0.9;*/
        font-family: Arial,sans-serif;
        width: fit-content;
        border-radius: 6px;
        padding: 4px 8px;
    }    

    #up, #down, #left, #right {
        margin-top: 30px;
    }

    #gameTitle {
        position: relative;
        left:7px;
        text-align: center;
        font-size: 36px;
        font-weight: bold;
        color: black;
        margin: 15px 0 10px 0;
        border: 2px solid #b35a00;
        background-color: orange;
    }

    #score {
        background-color: orange;
        color:black;
        padding: 5px 10px;
        border-radius: 10px;
        position: absolute;
        top:20px;
        left: 20px;
        font-size: 18px;
        font-weight: bold;
        border: 2px solid #b35a00;
    }

    #highScore {
        background-color: orange;
        color:black;
        padding: 5px 10px;
        border-radius: 8px;
        position: absolute;
        top:65px;
        left:20px;
        font-size:18px;
        font-weight:bold;
        border: 2px solid #b35a00;
    }

    
    #countdown {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        font-weight: bold;
        color: white;
        z-index: 10;
        text-align: center;
    }

    
    .game-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }

    .container {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    .game-area {
        position: relative;
        width: 400px;
        height: 400px;
    }

    canvas {
        display:block;
        margin: 10px auto;
        background: black;
        border: 8px solid #34495e;
        transition: filter 0.2s ease;
        
    }

  
    #loading {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: white;
        z-index: 10;
        display: none;
    }

    
    .controls {
        margin-top: 70px;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .row {
        display: flex;
        gap:10px;
        justify-content: center;
        margin: 5px 0;
    }

    .middle {
        display: flex;
        gap: 40px;
    }

    .controls button {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        font-size: 14px;
        color: white;
        box-shadow: 0 3px 8px rgba(0,0,0,0.3);
    }

    
    .buttons {
        position: absolute;
        color:white;
        border:#222;
        padding: 10px;
        border-radius: 6px;
        cursor: pointer;
        left: 20px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
    }


    .buttons button {
        width: 100px;
        height: 50px;
        font-size: 16px;
        font-family:Georgia, 'Times New Roman', Times, serif;
    }

    .restart-btn:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    .red-snake {
        background-color: red;
    }

    .red-snake:hover {
        filter: brightness(1.2);
    }

    .blue-snake {
        background-color: dodgerblue;
    }    

    .blue-snake:hover {
        filter: brightness(1.2);
    } 

    #shopContent {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 15px;
    }


    @media (max-width: 600px) {
        body {
            overflow-x: hidden;
        }
        
        #score, #highScore {
            font-size: 14px;
            padding: 3px 6px;
        }

        #score {
            top: 10px;
            left: 10px;
        }

        #highScore {
            top: 35px;
            left: 10px;
        }

        #time {
            font-size: 16px !important;
            padding: 3px 6px;
            top: 10px;
            right: 10px;
        }

        .game-wrapper {
            margin-top: 80px !important;
        }
       
        .container {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }

        .game-area {
            width: 52vw;
            height: 52vw;
            margin-left: 90px;
            transform: translateX(25px);
        }

        canvas {
            width: 100%;
            height: 100%;
        }
     
        #loading {
            font-size: 20px;
        }

        .controls {
            margin:0;
            margin-left: 10px;
            transform: translate(-35px , 250px);
        }

       .controls button {
        width: 50px;
        height: 50px;
        font-size: 10px;
       }

       .middle {
        gap: 13px;
       }

       .buttons {
        position: relative;
        top: -60px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        align-items: flex-start;
        margin: 0;
        padding: 0;
       }

       .buttons button {
        width: 55px;
        height: 30px;
        font-size: 8px;
       }

       .version-label {
        font-size: 12px;
        text-align: center;
        transform: translateX(15px);
       }

       #gameTitle {
        font-size: 14px;
        margin-top: 5px;
       }

       .signature {
        position: static !important;
        text-align: center;
        font-size: 12px !important;
        margin-top: 0px;
        transform : translate(-15px,-25px);
       }
       
       .signature div:last-child {
        font-size: 10px !important;
       }

       .by-jawad {
        font-size: 16px !important;
       }

       #languageContainer {
        position: relative;
       }

       .language-menu {
        min-width: 90px ;
        padding: 2px 0;
       }

       .language-menu div {
        font-size: 11px;
        padding: 5px 8px;
       }

       #screenSizeLabel , #sizeSlider {
        display:none !important;
       }

       .options-box label {
        display: none;
       }

       .options-box {
        display: flex;
        flex-direction: column;
        align-items: center;
       }

    .shopCloseBtn {
       width: 48px;
       height: 26px;
       font-size: 8px;
       margin: 15px auto 0;
       }
       .shop-item {
        width: 220px;
        height: 45px;
        font-size: 14px !important;
        padding: 10px;
       }
       
    }  

       .shopCloseBtn {
            width:95px;
            height: 28px;
            margin: 15px auto 0;
            display: block;
            color: black;
            font-size: 16px;
            border: none;
            border-radius: 10px;
            cursor: pointer;
        }
        .options-menu {
            position: fixed;
            top:0;
            left:0;
            width:100%;
            height:100%;
            background : rgba(0,0,0,0.6);
            display: none;
            justify-content : center;
            align-items: center;
            z-index: 99999;
        }

        .options-box {
            background: #222;
            padding: 20px;
            border-radius: 10px;
            color: white;
            width: 300px;
            text-align: center;
        }
        .options-box h2{
            margin-bottom: 12px;
        }

        .options-box input[type="range"] {
            width:100%;
            height:10px 0;
            accent-color: blue;
        }

        #ZoomWrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            transform-origin: center center;
        }

        #time {
            position:absolute;
            top:20px;
            right:20px;
            font-size: 30px;
            font-weight: bold;
            color:black;
            border: 2px solid #b35a00;
            background-color: orange;
        }
        #soundToggleBtn {
            margin-bottom: 12px !important;
        }

        .options-box label{
            margin-bottom: 5px;
        }
        .signature {
            position: absolute;
            right: 20px;
            bottom: 20px;
            text-align: right;
            color:#222;
            font-size: 30px;
            opacity: 0.8;
        }

        .signature div:first-child {
            font-weight: bold;
        }

        .signature div:last-child {
            font-size: 20px;
            opacity: 0.7;
        }

        .shop-btn {
            opacity: 0.5;
            cursor: not-allowed;
        }

        #startBtn {
            background-color: #8a2be2;
            color:white;
        }

        .restart-btn {
            background-color: #8a2be2;
            color:white;
        }

        .options-btn {
            background-color: #8a2be2;
            color:white;
        }

        .shop-btn {
            background-color: #8a2be2;
            color:white;
        }

        .about-btn {
            background-color: #8a2be2;
            color:white;
        }

        .exit-btn {
            background-color: #8a2be2;
            color:white;
        }

        button:disabled {
            opacity: 0.7;
        }


        .by-jawad{
            font-family: 'Great Vibes' , cursive;
            font-size: 27px;
            color: black;
        }
